.encabezado{
	background-color: #7FFFD4
}
.bio{
	background-color: #DEB887

}
.foto{
	width: 100% ;background-color: #F7BE81   ;float : right
}
.comu
{
	width: 100%; background-color: pink ; float: right;
}